# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
.settings/org.eclipse.jdt.core.prefs
build/createSrgToMcp/output.srg
build/downloadMCMeta/version.json
build/extractSrg/output.srg
build/natives/glfw.dll
build/natives/glfw.dll.git
build/natives/glfw.dll.sha1
build/natives/glfw32.dll
build/natives/glfw32.dll.git
build/natives/glfw32.dll.sha1
build/natives/jemalloc.dll
build/natives/jemalloc.dll.git
build/natives/jemalloc.dll.sha1
build/natives/jemalloc32.dll
build/natives/jemalloc32.dll.git
build/natives/jemalloc32.dll.sha1
build/natives/lwjgl.dll
build/natives/lwjgl.dll.git
build/natives/lwjgl.dll.sha1
build/natives/lwjgl32.dll
build/natives/lwjgl32.dll.git
build/natives/lwjgl32.dll.sha1
build/natives/lwjgl_opengl.dll
build/natives/lwjgl_opengl.dll.sha1
build/natives/lwjgl_opengl32.dll
build/natives/lwjgl_opengl32.dll.sha1
build/natives/lwjgl_stb.dll
build/natives/lwjgl_stb.dll.sha1
build/natives/lwjgl_stb32.dll
build/natives/lwjgl_stb32.dll.sha1
build/natives/META-INF/INDEX.LIST
build/natives/META-INF/MANIFEST.MF
build/natives/OpenAL.dll
build/natives/OpenAL.dll.git
build/natives/OpenAL.dll.sha1
build/natives/OpenAL32.dll
build/natives/OpenAL32.dll.git
build/natives/OpenAL32.dll.sha1
build/natives/SAPIWrapper_x64.dll
build/natives/SAPIWrapper_x86.dll
gradle/wrapper/gradle-wrapper.properties
gradlew.bat
gradlew_setup.bat
